/* Background image */

body {
  background-image: url(/img/background/cool-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Grid */

.content {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 300px 100px 100px 100px 100px 300px 100px;
  grid-template-rows: 25px 420px 100px;
  grid-row-gap: 2em;
  grid-template-areas:
    ". leftHeader . . . . rightHeader ."
    ". leftContentText leftContentText . rightContentImage rightContentImage rightContentImage ."
    "leftIconsPack leftIconsPack leftIconsPack leftIconsPack rightIconsPack rightIconsPack rightIconsPack rightIconsPack";
}

/* Grid Areas */

.leftHeader {
  grid-area: leftHeader;
  justify-self: start;
  align-self: center;
}

.rightHeader {
  grid-area: rightHeader;
  justify-self: end;
  align-self: center;
}

.leftContentText {
  grid-area: leftContentText;
  justify-self: start;
  align-self: center;
}

.rightContentImage {
  grid-area: rightContentImage;
  justify-self: end;
}

.leftIconsPack {
  grid-area: leftIconsPack;
  justify-self: center;
  align-self: center;
}

.rightIconsPack {
  grid-area: rightIconsPack;
  justify-self: center;
  align-self: center;
}

.rightContentImage img {
  max-width: 500px;
}

/* Navigation Menu Style */

.leftHeader a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1em;
  font-weight: bold;
  color: #212529;
  text-decoration-line: none;
  text-decoration-style: solid;
}

.rightHeader a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1em;
  font-weight: bold;
  color: #212529;
  text-decoration-line: none;
  text-decoration-style: solid;
}

/* leftContent Text Style*/

.leftContentText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.textBlockBig {
  font-size: 40px;
  font-weight: 700;
}

.textBlockSmall {
}

.textBlockSmallFirstLine {
}

.textBlockSmallSecondLine {
}
